<div class="page-header">
  <h1>
    Photos
    <a href="/photos/new" class="btn btn-lg btn-success">New Photo</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      
      <% @photos.each do |photo| %>
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="/users/<%= photo.user_id %>"> <%= photo.user.username %></a></a>
            <small>
              3 days ago
            </small>
          </h3>
        </div>
        
        <div class="panel-body">
          <a href="/photos/<%= photo.id %>">
            <img src="<%= photo.image %>" class="img-responsive">
          </a>
          
          <p>
            <%= photo.caption %>
            <%= photo.user_id %>
            
            <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          </p>
        </div>
        
          
        
        <% end %>
        
    </div>
  </div>
</div>
