<div class="page-header">
  <h1>
    Photos
    <a href="/photos/new" class="btn btn-lg btn-success">New Photo</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      
      <% @photos.each do |photo| %>
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="/users/<%= photo.user_id %>"> <%= photo.user.username %></a></a>
            <small>
              <%= time_ago_in_words(photo.created_at) %> ago
            </small>
          </h3>
        </div>
        
        <div class="panel-body">
          <a href="/photos/<%= photo.id %>">
            <img src="<%= photo.image %>" class="img-responsive">
          </a>
          
          <%if current_user.id == photo.user_id %>  
            <div class="btn-group btn-group-justified">
              <a href="/photos" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>
              <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          <% else %>
            <div class="btn-group btn-group-justified">
              <a href="/photos" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>
            </div>
          <%end %>  
          
        </div>
      
      <% end %>
        
    </div>
  </div>
</div>
